<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Team and Heroes!</title>
  </head>
  <body>
<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
<div>
  <label for="name">Team Name</label>
  <input id="name" type="text" name="team[name]" value="">
</div>

<div>
  <label for="motto">Team Motto</label>
  <input id="motto" type="text" name="team[motto]" value="">
</div>
</form>

  </body>
</html>
